<%

// dir
const dir = './'

// metaData
const metaData = (typeof meta === 'undefined') ? '' : meta;

%>

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, viewport-fit=cover">
    <meta name="format-detection" content="telephone=no">
    <title><%= metaData.title %></title>
    <meta name="description" content="<%= metaData.desc %>">
    <meta property="og:locale" content="ja_JP">
    <meta property="og:type" content="<%= metaData.ogType %>">
    <meta property="og:title" content="<%= metaData.title %>">
    <meta property="og:description" content="<%= metaData.desc %>">
    <script>(function(d) {var config = {kitId: 'xrb2kpi',scriptTimeout: 3000,async: true},h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)})(document);</script>
    <script>(function(d) {var config = {kitId: 'xrb2kpi',scriptTimeout: 3000,async: true},h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)})(document);</script>
    <link rel="stylesheet" href="/assets/css/style.css?rev">
  </head>
  <body class="<%= metaData.pageName %>">
    <%- include ('../modules/_icons') %>
    <div class="l-mainwrap">
      <%- include (dir + '_header') %>
